/* This font is kinda demonic, ngl */
@font-face {
    font-family: "comforter brush";
    src: url(./fonts/ComforterBrush-Regular.ttf);
}

h1 {
    color: darkgoldenrod;
    text-align: center;
    font-size: 5vw;
}

h2 {
    color: rgb(255, 0, 0);
}

#topic {
    font-family: "comforter brush";
    font-size: 40px;
    position: static;
    top: 400px;
}

section{
    border-style: double;
    border-color: hsl(156, 98%, 54%);
    border-width: 3px;
    border-radius: 10px;
    display: inline-block;
}

.serious {
    font-size: 6mm;
    margin: 2vh 2vh 1vw 1vw;
    padding: 1vh 1vh 1vw 1vw;
}

.memery {
    font-size: 0.3cm;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.credit{
    border: 5px dashed darkblue;
    padding: 1vh 1vh 1vw 1vw;
    position: sticky;
    bottom: 10px;
}

@media screen and (min-width: 5in) {
    #subscribe {
        font-size: 3em;
    }
    section#subscribe{
        display: grid;
        grid-template-columns: [first] 30vw [line2] auto [end];
        grid-template-rows: [first] auto [line2] auto [end];
    }
    #subscribe > p{
        grid-column-start: 1;
        grid-column-end: 2;
    }
}


* {
    background-color: #61c2c2;
}

#nixon {
    text-decoration: line-through;
}

/* Basically removed the usefulness of span */
span {
    display: block;
}

footer {
    width: 90vw;
    height: 90vh;
    max-width: 3in;
    max-height: 1in;
    margin: auto;
}

button:hover{
    color: rebeccapurple;
}

button:active{
    background-color: coral;
}

form, #survey {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40vw;
    justify-content: center;
}